.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card__header {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 2px 8px;
  flex-direction: row;
  gap: 10px;
}

.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  opacity: 0.6;
  background-color: #ffffff;
  padding: 2px 12px;
  gap: 8px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk Bold";
}

.card__image {
  width: 100%;
  border: 1px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
