.sidebar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  line-height: 100%;
  align-items: flex-start;
}

.sidebar__avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.profile__edit-button {
  background: none;
  display: flex;
  align-items: flex-start;
  width: 171px;
}

.profile__logout-button {
  background: none;
}
